@import 'tailwindcss';

@theme {
  --color-primary: #970092;
  --color-background: #fdfafd;
  --color-elevated: #f1e8f1;
  --color-text-primary: #1e1e1e;
  --color-text-secondary: #585454;
  --color-white: #ffffff;
  --color-white-50: #ffffff80;
  --color-white-75: #ffffffbf;
  --color-primary-dark: #570057;
  --color-primary-light: #af02a5;
}

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
