@import 'tailwindcss';

@theme {
  --color-primary: #970092;
  --color-background: #FDFAFD;
  --color-elevated: #F1E8F1;
  --color-text-primary: #1E1E1E;
  --color-text-secondary: #585454;
  --color-white: #ffffff;
  --color-white-50: #FFFFFF80;
  --color-white-75: #FFFFFFBF;
  --color-primary-dark: #630062;
  --color-primary-light: #AF02A5;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

